<!DOCTYPE html>


<html lang="en-US">

  <head>
  		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Revision Landing</title>

		<link type="text/css" rel="stylesheet" href="/static/eyes/normalize.css" />
		<link type="text/css" rel="stylesheet" href="/static/eyes/main.css" />


  </head>

  <body>
				<li><a href= "/home">Home</a></li>

				<li><a href= "/home">Revision</a></li>

				<li><a href= "/accounts/login">Login</a></li>

				<li><a href= "/accounts/logout">Logout</a></li>

				<li><a href= "/accounts/password/change">Change PW</a></li>

				<li><a href= "/accounts/password/change/done">Change PW- Done</a></li>			

				<li><a href= "/accounts/password/reset">Reset PW</a></li>

				<li><a href= "/accounts/password/reset/confirm">Reset PW- Confirm</a></li>
				<li><a href= "/accounts/password/reset/complete">Reset PW- Complete</a></li>
				<li><a href= "/accounts/password/reset/done">Reset PW- Done</a></li>
				<li><a href= "/accounts/logout">Logout</a></li>

			  </ul>
			  <!--add form for login-->
			  

 

		


	
<!-- 	
		<div id="footer">
		  <ul>
			<li>about</li>
			<li>the</li>
			<li>footer</li>
		  </ul>
		</div> --> <!--end footer-->

  </body>


</html>