 {% extends "base.html" %}

 {% block title %}Revision- {{projectname}}{% endblock %}


 {% block head %}

  <script src="/static/eyes/jquery-1.9.1.js"></script>
  <script src="/static/eyes/jquery-ui.js"></script>
  <script src="/static/eyes/main.js"></script>  
  <link type="text/css" rel="stylesheet" href="/static/eyes/jquery-ui.css" />

  <script>



  </script>

  <style>


.anntitle {
	font-weight: bold;
}

.anndescription {

}

.annuser {
	font-size: 10px;
	color: green;
	margin-left: 25px;
}

.anndate {
	font-size: 10px;
}

#announcements {
	margin-left: 50px;
}

.annlist {
	margin-bottom: 5px;
}

  </style>

 {% endblock %}  

<!--  end of head -->



 {% block content %}

	<div id= 'header'>

	</div>
	
	<div id="container">

		<div id='sidebar'>

				<div id="subscribebars">

				{% for group in groups %}

					{% ifequal group.title|lower projectname|lower %}

					<div style="float:left">You are subscribed!</div>
					<form method="post" class="unsubform">{% csrf_token %}
						<input type="submit" value= "unsubscribe" name="unsubscribe" class="unsubscribe"/>
					</form>

					{% endifequal %}

				{% endfor %}
					

					<form method="post" class="subscribeform">{% csrf_token %}
						<input type="submit" value= "subscribe" name="subscribe" class="subscribe"/>
					</form>


				</div>
				<br>

				<div id='todolist'>	<!-- start of todolist -->
					<h4>
						<span>To do list </span>				
						<input type="button" value= "+" class="showtodoform"/>
						<input type="button" style="display:none"  value= "-" class="hidetodoform"/>
					</h4>
					
					<form method="post"> {% csrf_token %}
					<ul id='sortable'>

						{% for todo in todolist %}
						<li>

						<div>
							<input type="checkbox" name="deletetodo" value="{{todo.id}}"/>
							<span class='todotitle'>{{todo.title}}</span>
						</div>

						{% if todo.description %}
						<div class='todocomment'>
							<span>{{todo.description}}</span>
						</div>
							{% else %}
							{% endif %}

						<div class="todocomment">
							<span class='todoowner'>{{todo.owner}}</span>
							<span class='tododuedate'>{{todo.due_date}}</span>
						</div>


						</li>
						{% endfor %}


					</ul>
					<input type="submit" value="Delete" name= "deletetodos"/>

					</form>

				<!-- To do list form -->
				<form method="post" style="display:none" class="todoform">{% csrf_token %}

						{{todoform.as_p}}

				<input type="submit" value= "Submit" name="addtodo" class="submitbutton"/>
		    	</form>


				</div><!--end todo list-->

	   	</div><!-- end sidebar-->


		<div id='mainarea'>

			<h1>{{projectname}} 
				<input type="button" value= "+" class="showitemform"/>
				<input type="button" style="display:none"  value= "-" class="hideitemform"/>
				<a style="font-size:10px" href="/{{projectname}}/announce">Add announcement</a>
			</h1>

			<div id='announcements'>
    			{% for a in announcements %}
					<li class='annlist'>
						<div>
							<span class='anntitle'>{{a.title}}</span><span>: </span>
							<span class='anndescription'>{{a.description}}</span>	
						</div>
						<span class="annuser">{{a.user}}</span>			 	
						<span class="anndate">Created on {{a.create_date}}</span>						
					</li>
   				{% endfor %}
   			</div>


				<form method="post"  style='display:none' class ='itemform' enctype="multipart/form-data">{% csrf_token %}
	<!-- Form to add items -->			
				<!-- {{additemform.as_p}} -->
					<p><label for="id_title" class='itemformlabel'>Title:</label> <input id="id_title" maxlength="200" name="title" type="text" /></p>

					<p id='itemurl' style="display:none"><label for="id_url" class='itemformlabel'>Url:</label> <input id="id_url" maxlength="200" name="url" type="text" /></p>

					<p id='itemfileitem'><label for="id_fileitem" class='itemformlabel'></label><input id="id_fileitem" name="fileitem" type="file" /></p>
					
					<p><label for="id_comments" class='itemformlabel'>Comments:</label> <input id="id_comments" maxlength="500" name="comments" type="text" /></p>

					<p>
						<label for="id_sticky" class='itemformlabel'>Sticky:</label> <input id="id_sticky" name="sticky" type="checkbox" /> 

						<input type="button" value= "Toggle Link" class="showurl" style="font-size:10px; vertical-align:middle; margin-left:40px"/>
						<input type="button" value= "Toggle File" class="hideurl" style="display:none; font-size:10px; vertical-align:middle; margin-left:40px"/>
					</p>

				<input type="submit" value= "Submit" name="additem" class="submitbutton"/>
		    	</form>

	<!-- Listing of items in project -->

			<!-- sticky items first -->
		    	<form method="post"> {% csrf_token %}
		    {% if latest_items_list_sticky or latest_items_list %}
		    <ul>

		    {% for item in latest_items_list_sticky %}
						
					<li>	
						<div>
							<input type="checkbox" name="deleteitem" value="{{item.id}}"/>	    						
						{% if item.url %}
							<span id="title"><em><a href='{{item.url}}'>{{item.title}}</a></em></span>
						{% else %}
							<span id="title">{{item.title}}</span>
						{% endif %}

							<span id="comments">{{item.comments}}</span>	
						</div>
						<input type="button" value="comments" class="commentbutton" rel="#item_{{item.id}}"/>
						<span id="update_user">Updated by {{item.update_user}}</span>			 
						<span id="update_date"> on {{item.update_date}}</span>		
						<span id="create_date">Created on {{item.create_date}}</span>				
					</li>

					<ul id="item_{{item.id}}" style="display:none" class="itemcomments">
						<!-- this is to match up with the button to display the comments through js -->

					{% for comment in comments%}
					<!-- cycle through comments and find ones who match the current item -->
						{% ifequal item.title|lower comment.item|lower %}
		<!-- 	for some reason does not work unless they are both put in same case, i didnt try anything else because it worked -->

						<li>
							<br>
							<div>
								<span class="itemcommentuser">{{comment.user}}</span>
								<span class="itemcommentdate">{{comment.create_date}}</span>
							</div>

							<div>
							{{comment.comment}} 
							</div>

						</li>
						{% endifequal %}

					{% endfor %}	
					<br>
					<form method='post'>{% csrf_token %}

						<!-- {{commentform.as_p}} -->
					<p><input type="text" style="display:none" id="id_item" name="item" value="{{item.id}}"/></p>
					<p><label for="id_comment">Comment:</label> <textarea cols="40" id="id_comment" name="comment" rows="5">
					</textarea></p>

						<input type='submit' value='submit' name='commentsubmit'/>
					</form>
					</ul>
		    {% endfor %}

		    <!-- the non sticky items -->
		    	<br>
		    {% for item in latest_items_list %}

					<li>
						<div>
							<input type="checkbox" name="deleteitem" value="{{item.id}}"/>
						{% if item.url %}
							<span id="title"><a href='{{item.url}}'>{{item.title}}</a></span>
						{% elif item.fileitem %}
							<span id="title"><a href='{{item.fileitem.url}}'>{{item.title}}</a><span>
						{% else %}	
							<span id="title">something went wrong</a><span>	
						{% endif %}

							<span id="comments">{{item.comments}}</span>	
						</div>
						<input type="button" value="comments" class="commentbutton" rel="#item_{{item.id}}"/>
						<span id="update_user">Updated by {{item.update_user}}</span>			 
						<span id="update_date"> on {{item.update_date}}</span>		
						<span id="create_date">Created on {{item.create_date}}</span>						
					</li>

					<ul id="item_{{item.id}}" style="display:none" class="itemcomments">

					{% for comment in comments%}

						{% ifequal item.title|lower comment.item|lower %}
		<!-- 	for some reason does not work unless they are both put in same case, i didnt try anything else because it worked -->
						
						<li>
							<br>
							<div>
								<span class="itemcommentuser">{{comment.user}}</span>
								<span class="itemcommentdate">{{comment.create_date}}</span>
							</div>

							<div>
							{{comment.comment}} 
							</div>

						</li>
						{% endifequal %}

					{% endfor %}	
					<br>
					<form method='post'>{% csrf_token %}
						<!-- {{commentform.as_p}} -->
					<p><input type="text" style="display:none" id="id_item" name="item" value="{{item.id}}"/></p>
					<p><label for="id_comment">Comment:</label> <textarea cols="40" id="id_comment" name="comment" rows="5">
					</textarea></p>

					<input type='submit' value='submit' name='commentsubmit'/>
					</form>
					<br>
					</ul>

		    {% endfor %}
		    	<br>
		    	<input type="submit" value= "Delete" name="deleteitems"/>
		    	</form>
		    </ul>
		{% else %}
		    <p>No items are available.</p>
		{% endif %}

	   	</div><!-- end main area -->


	</div><!-- end body -->
</div>
{% endblock %}