html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
	width:100%;
    margin: 0 auto;
    padding: 0;
    color: #333;
    background-color: rgb(231, 231, 231);
}
#container, #header{
	padding:10px;
}

#container{
	margin: 0 auto;
	min-height: 800px;
}

h1 {
	color: rgb(66, 127, 255);
}

h2{
	color: rgb(66, 127, 255);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
	color: rgb(66, 127, 255);
}

li{
	list-style-type: none;
}

a:link {
	/*color: green;*/
}

textarea{
	width:300px;
	height: 60px;
	border: 2px solid #cccccc;
}

/*textarea:hover{
	border: 2px solid yellow;
}*/




/*       HEADER        */

#navigation li{
	padding-left: 1em;
}

#navigation li a{
	text-decoration: none;
	color: rgb(66, 127, 255);
}

#navigation li a:visited{
	color: rgb(66, 127, 255);
}

#navigation li a:hover{
	color: rgb(77,77,77);
}

#navigation {
	font-size: 14px;
	text-align:right;
}

#header ul li{
	display: inline;
	color: rgb(66, 127, 255);
}

#header ul li:hover{
	color: rgb(77,77,77);
}



/*        BODY         */


.item_title{
	font-size:18px;
}

.item_title a:hover{
	color: rgb(66, 127, 255);
}

#update_user, #update_date, #comments {
	font-size:10px;
}

#create_date{
	font-size:10px;
}


#file {
	font-size:8px;
	color: green;

}

#submitform li{
	font-size:12px;
}


#sorter ul li{
	display:inline;
	font-size:12px;
	margin:2em;
}

#sources ul li div{
	padding-top:5px;
}

.anntitle {
	font-weight: bold;
}

.anndescription {

}

.annuser {
	font-size: 10px;
	color: rgb(66, 127, 255);
	margin-left: 25px;
}

.anndate {
	font-size: 10px;
}

#announcements {
	margin-left: 50px;
}

.annlist {
	margin-bottom: 5px;
}



/*    Sidebar vs Main area    */
#subscribebars{
	float: right;
	width: 300px;
	height: 30px;
	margin-right: 50px;
}

#sidebar {
	float: right;
	overflow: hidden;
	min-width: 350px;
}

#mainarea {
	float: left;

}

.itemcomments{
	font-size: 12px;
}


.itemcommentuser{
	color: rgb(66, 127, 255);
	font-weight: bold;
}

.itemcommentdate{
	font-size: 10px;
}






/*     Buttons    */

.showitemform {
	color: green;
	font-size: 12px;
	font-weight: bolder;
	vertical-align: middle;
	height: 21px;
	width: 23px;
}

.hideitemform {
	color: red;
	font-size: 12px;
	font-weight: bolder;
	vertical-align: middle;
	height: 21px;
	width: 23px;
}

.showtodoform{
	color: green;
	font-size: 10px;
	font-weight: bolder;
	vertical-align: middle;	
	height: 18px;
	width: 22px;

}

.hidetodoform {
	color: red;
	font-size: 10px;
	font-weight: bolder;	
	vertical-align: middle;
	height: 18px;
	width: 22px;
}

.itemformlabel {
	text-align: right;	
	display: inline-block;
	width: 120px;
}

.todoformlabel {
	text-align: right;	
	display: inline-block;
	width: 120px;
}

.submitbutton {
	font-size: 12px;
	margin-left: 100px;

}

.commentbutton {
	font-size: 10px;
	border: none;
	padding: none;
}

#subscribe{
	color: green;
	font-size: 10px;
	vertical-align: middle;
}

#unsubscribe{
	color: red;
	font-size: 10px;
	vertical-align: middle;
}

.unsubform, .subscribeform{
	float: right;
	padding-right: 10px;
}

input[type=submit]{
	color: rgb(66, 127, 255);
	height: 30px;
	/*font-size: 14px;*/
	font-weight: bold;
	border:0;
	background-color: rgb(190, 190, 190);
}

input[type=submit]:hover{
	border:1px solid;
}


/*    TO DO LIST    */

#todolist span{
	margin: 10px;
}

#todolist li{
	margin-top: 5px;
}

#todolist h4{
	margin-left: 40px;
	margin-bottom: 0;
}

.todocomment{
	font-size: 10px;

}

.tododuedate{
	font-size: 10px;
}


.todoowner{
	font-size: 10px;
	font-weight: bold;
	color: rgb(66, 127, 255);
}

.todotitle{
	font-size: 12px;
	font-weight: bold;	
}

div.ui-datepicker{
 font-size:10px;
}

    /*FOOTER     */


/*#footer {
	width:100%;
	min-width:700px;
	background:#333333;
	text-align:center;
	min-height: 150px;
	position: relative;
}

#footerlist li{
	color: white;
	font-size: 12px;
	font-weight: bold;
}

#footerlist li a{
	color: white;
}*/

/* this should be added to locally hosted jquery file- once its locally hosted*/





